
.Hero{
    background-image: url('../src/assets/heroCof.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.__buyBtn{
    background-color: #8b4513;
}
.__readmore{
    background-color: #8b4513;
}
.imageCoffee_about{
    background-image: url('../src/assets/coffeeBeans.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}